@import "../../scss/theme.scss";

$colorAlert: #ff0000;

.wrongFile {
  color: $colorAlert;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid $colorAlert;
  padding: 1rem;
  span {
    margin: 0 1rem;
    color: $colorAlert;
    font-size: 2.3rem;
  }
}
